<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="triangle" class="com.example.demo.Triangle">
        <constructor-arg type="String" value="iso " />
        <constructor-arg type="int" value="1"/>
      <!--  <property name="triangleType" value="equilateral"/> -->

    </bean>
</beans>